body {
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #0b3d91;
    font-size: 56px;
}

h2 {
    color: #555;
}

p {
    font-size: 20px;
}

a {
    display: inline-block;
    margin-right: 15px;
    padding: 12px 20px;
    background: #0b3d91;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
